
<nav class="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="serverreadmechart">Server Readme Chart</a></li>
        <li><a href="clientreadmechart">Wasm Readme Chart</a></li>
        <li><a href="autoreadmechart">Auto Readme Chart</a></li>
    </ul>
</nav>

@code {

}
