@page "/autoreadmechart"
@rendermode InteractiveAuto

<PageTitle>InteractiveAuto Readme Chart</PageTitle>

<h2>rendermode InteractiveAuto</h2>
<pax.BlazorChartJs.samplelib.ReadmeChartComp />

@code {

}
