@page "/clientreadmechart"
@rendermode InteractiveWebAssembly

<PageTitle>InteractiveWebAssembly ReadmeChart</PageTitle>

<h2>rendermode InteractiveWebAssembly</h2>
<pax.BlazorChartJs.samplelib.ReadmeChartComp />

@code {

}
