@page "/"

<PageTitle>pax.BlazorChartJs</PageTitle>

<h3>Test Project used for <a href="https://playwright.dev/dotnet/">Playwright</a> testing <a href="https://github.com/ipax77/pax.BlazorChartJs">pax.BlazorChartJs</a></h3>

<div>
    <p>
        <a href="https://github.com/ipax77/pax.BlazorChartJs/blob/master/.github/workflows/ghpages.yml">GitHub Action</a> to create this <a href="https://github.com/ipax77/pax.BlazorChartJs/tree/master/src/pax.BlazorChartJs.wasmtest">website</a>
    </p>
    <p>
        <a href="https://github.com/ipax77/pax.BlazorChartJs/blob/master/.github/workflows/pwtests.yml">GitHub Action</a> to run the <a href="https://github.com/ipax77/pax.BlazorChartJs/tree/master/tests/pax.BlatzorChartJs.pwtests">tests</a>
    </p>
</div>
