@page "/preloadpluginchart"

<PageTitle>Preload Plugin Chart</PageTitle>

<h3>PreloadPluginChart</h3>

<pax.BlazorChartJs.samplelib.PreloadPluginChart></pax.BlazorChartJs.samplelib.PreloadPluginChart>

@code {

}
