
<div style="width: 1000px; height: 1000px;">
    <ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig"></ChartComponent>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public ChartJsConfig chartJsConfig { get; set; } = default!;

    public ChartComponent? chartComponent;

    public string? labelClicked;

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }
}
