<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">pax.BlazorChartJs</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barchart">
                <span class="oi oi-plus" aria-hidden="true"></span> BarChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linechart">
                <span class="oi oi-plus" aria-hidden="true"></span> LineChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiplecharts">
                <span class="oi oi-plus" aria-hidden="true"></span> MultipleCharts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventschart">
                <span class="oi oi-plus" aria-hidden="true"></span> EventsChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scatterchart">
                <span class="oi oi-plus" aria-hidden="true"></span> ScatterChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stackedchart">
                <span class="oi oi-plus" aria-hidden="true"></span> StackedChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiaxis">
                <span class="oi oi-plus" aria-hidden="true"></span> MultiAxisChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeschart">
                <span class="oi oi-plus" aria-hidden="true"></span> TimesChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="minchart">
                <span class="oi oi-plus" aria-hidden="true"></span> ReadmeChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="preloadpluginchart">
                <span class="oi oi-plus" aria-hidden="true"></span> PreloadPluginChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="datalabelschart">
                <span class="oi oi-plus" aria-hidden="true"></span> DataLabelsChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="callbackchart">
                <span class="oi oi-plus" aria-hidden="true"></span> CallbackChart
            </NavLink>
        </div>    		
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
