<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">pax.BlazorChartJs.sample</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linechart">
                <span class="oi oi-plus" aria-hidden="true"></span> LineChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="barchart">
                <span class="oi oi-plus" aria-hidden="true"></span> BarChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="piechart">
                <span class="oi oi-plus" aria-hidden="true"></span> PieChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doughnutchart">
                <span class="oi oi-plus" aria-hidden="true"></span> DoughnutChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="radarchart">
                <span class="oi oi-plus" aria-hidden="true"></span> RadarChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="polarareachart">
                <span class="oi oi-plus" aria-hidden="true"></span> PolarAreaChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scatterchart">
                <span class="oi oi-plus" aria-hidden="true"></span> ScatterChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bubblechart">
                <span class="oi oi-plus" aria-hidden="true"></span> BubbleChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mixedchart">
                <span class="oi oi-plus" aria-hidden="true"></span> MixedChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="multiplecharts">
                <span class="oi oi-plus" aria-hidden="true"></span> MultipleCharts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custompluginchart">
                <span class="oi oi-plus" aria-hidden="true"></span> CustomPluginChart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chartevents">
                <span class="oi oi-plus" aria-hidden="true"></span> ChartEvents
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
