@using pax.BlazorChartJs

@using System.Text.Json.Serialization

<h3>BubbleChartPage</h3>

<div class="btn-group">
    <button type="button" class="btn btn-primary" @onclick="Randomize">Randomize</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataset">Add Dataset</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataFromLeft">Add Data From Left</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataFromTop">Add Data From Top</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataFromRight">Add Data From Right</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataFromBottom">Add Data From Bottom</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataDefault">Add Data Default</button>
    <button type="button" class="btn btn-primary" @onclick="AddDataNoAnimation">Add Data No Animation</button>
    <button type="button" class="btn btn-primary" @onclick="RemoveLastDataset">Remove Dataset</button>
    <button type="button" class="btn btn-primary" @onclick="RemoveLastDataFromDatasets">Remove Data</button>
</div>

<div class="chart-container w-75">
    <ChartComponent @ref="chartComponent" OnEventTriggered="ChartEventTriggered" ChartJsConfig="chartJsConfig">
    </ChartComponent>
</div>

<div>
    @if (!String.IsNullOrEmpty(labelClicked))
    {
        <p>
            Label clicked: @labelClicked
        </p>
    }
</div>

@code {
    ChartComponent? chartComponent;
    ChartJsConfig chartJsConfig = null!;
    private readonly Lock chartDataSync = new();
    private string? labelClicked;
    private bool hasPendingNewFlags;

    protected override void OnInitialized()
    {
        chartJsConfig = new()
        {
            Type = ChartType.bubble,
            Data = new ChartJsData()
            {
                Datasets = new List<ChartJsDataset>()
                    {
                        new BubbleDataset()
                        {
                            Id = "bubble-primary",
                            Label = "Bubble Dataset",
                            Data = new List<object>()
                            {
                                CreatePoint(-10, 0, 4),
                                CreatePoint(0, 10, 6),
                                CreatePoint(10, 5, 2),
                                CreatePoint(0.5, 5.5, 1),
                                CreatePoint(7, 7, 12),
                            },
                            BackgroundColor = "rgb(255, 99, 132)"
                        }
                    }
            },
            Options = new ChartJsOptions()
            {
                Responsive = true,
                MaintainAspectRatio = true,
                Animation = new Animation()
                {
                    Duration = 600,
                    Easing = "easeOutQuart",
                    OnComplete = ChartJsFunction.FromName("clearBubbleNewFlags"),
                    OnCompleteEvent = true
                },
                Transitions = new Dictionary<string, object>()
                {
                    ["addFromLeft"] = new
                    {
                        Animations = new
                        {
                            X = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromLeftX")
                            },
                            Y = new Animations()
                            {
                                Duration = 0
                            },
                            Radius = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromLeftRadius")
                            }
                        }
                    },
                    ["addFromTop"] = new
                    {
                        Animations = new
                        {
                            X = new Animations()
                            {
                                Duration = 0
                            },
                            Y = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromTopY")
                            },
                            Radius = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromLeftRadius")
                            }
                        }
                    },
                    ["addFromRight"] = new
                    {
                        Animations = new
                        {
                            X = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromRightX")
                            },
                            Y = new Animations()
                            {
                                Duration = 0
                            },
                            Radius = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromLeftRadius")
                            }
                        }
                    },
                    ["addFromBottom"] = new
                    {
                        Animations = new
                        {
                            X = new Animations()
                            {
                                Duration = 0
                            },
                            Y = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromBottomY")
                            },
                            Radius = new Animations()
                            {
                                From = ChartJsFunction.FromName("bubbleAddFromLeftRadius")
                            }
                        }
                    }
                },
                OnClickEvent = true,
                Scales = new ChartJsOptionsScales()
                {
                    X = new LinearAxis()
                    {
                        Type = "linear",
                        Position = "bottom",
                        SuggestedMin = -100,
                        SuggestedMax = 100
                    },
                    Y = new LinearAxis()
                    {
                        SuggestedMin = -100,
                        SuggestedMax = 100
                    }
                }
            }
        };
        base.OnInitialized();
    }

    private SampleBubblePoint GetRandomPoint(int min = -100, int max = 100)
    {
        return CreatePoint(
            Random.Shared.Next(min, max),
            Random.Shared.Next(min, max),
            Random.Shared.Next(1, 15));
    }

    private static SampleBubblePoint CreatePoint(double x, double y, double r, bool isNew = false)
    {
        return new()
        {
            IsNew = isNew ? true : null,
            X = x,
            Y = y,
            R = r
        };
    }


    private void ShowChart()
    {
        chartJsConfig.ReinitializeChart();
    }

    private void ChartEventTriggered(ChartJsEvent chartJsEvent)
    {
        if (chartJsEvent is ChartJsLabelClickEvent labelClickEvent)
        {
            labelClicked = labelClickEvent.Label;
        }

        if (chartJsEvent is ChartJsAnimationCompleteEvent { Initial: false })
        {
            ClearNewFlagsIfNeeded();
        }
    }

    private void AddDataFromLeft()
    {
        AddDataSmooth("addFromLeft");
    }

    private void AddDataFromTop()
    {
        AddDataSmooth("addFromTop");
    }

    private void AddDataFromRight()
    {
        AddDataSmooth("addFromRight");
    }

    private void AddDataFromBottom()
    {
        AddDataSmooth("addFromBottom");
    }

    private void AddDataDefault()
    {
        AddDataSmooth("default");
    }

    private void AddDataNoAnimation()
    {
        AddDataSmooth("none");
    }

    private void AddDataSmooth(string updateAnimation)
    {
        bool markNew = updateAnimation.StartsWith("addFrom", StringComparison.Ordinal);

        lock (chartDataSync)
        {
            if (!markNew && hasPendingNewFlags)
            {
                ClearNewFlagsCore();
            }

            bool addedNewPoint = false;
            for (int i = 0; i < chartJsConfig.Data.Datasets.Count; i++)
            {
                if (chartJsConfig.Data.Datasets[i] is BubbleDataset bubbleDataset)
                {
                    bubbleDataset.Data.Add(GetRandomPoint() with { IsNew = markNew ? true : null });
                    addedNewPoint |= markNew;
                }
            }

            hasPendingNewFlags = addedNewPoint || HasNewFlags();

            chartJsConfig.SetDatasetsSmooth(
                datasets: chartJsConfig.Data.Datasets,
                updateAnimation: updateAnimation);
        }
    }

    private void Randomize()
    {
        if (chartJsConfig.Data.Datasets.Any())
        {
            var dataCount = ((ChartJsDataset)chartJsConfig.Data.Datasets.First()).Data.Count;

            Dictionary<ChartJsDataset, SetDataObject> datas = new();

            for (int i = 0; i < chartJsConfig.Data.Datasets.Count; i++)
            {
                var bubbleDataset = chartJsConfig.Data.Datasets[i] as BubbleDataset;
                if (bubbleDataset != null)
                {
                    List<object> data = new();
                    for (int j = 0; j < dataCount; j++)
                    {
                        data.Add(GetRandomPoint());
                    }
                    datas.Add(bubbleDataset, new SetDataObject(data));
                }
            }
            hasPendingNewFlags = false;
            chartJsConfig.SetData(datas);
        }
    }

    private void AddDataset()
    {
        int dataCount = 5;
        if (chartJsConfig.Data.Datasets.Any())
        {
            dataCount = ((ChartJsDataset)chartJsConfig.Data.Datasets.First()).Data.Count;
        }

        var dataset = ChartUtils.GetRandomDataset(chartJsConfig.Type == null ? ChartType.bar : chartJsConfig.Type.Value,
chartJsConfig.Data.Datasets.Count + 1, dataCount);
        chartJsConfig.AddDataset(dataset);
    }

    private void RemoveLastDataset()
    {
        if (chartJsConfig.Data.Datasets.Any())
        {
            chartJsConfig.RemoveDataset(chartJsConfig.Data.Datasets.Last());
            hasPendingNewFlags = HasNewFlags();
        }
    }

    private void RemoveLastDataFromDatasets()
    {
        chartJsConfig.RemoveData();
        hasPendingNewFlags = HasNewFlags();
    }

    private void ClearNewFlagsIfNeeded()
    {
        lock (chartDataSync)
        {
            if (!hasPendingNewFlags)
            {
                return;
            }

            ClearNewFlagsCore();
        }
    }

    private void ClearNewFlagsCore()
    {
        for (int i = 0; i < chartJsConfig.Data.Datasets.Count; i++)
        {
            var data = chartJsConfig.Data.Datasets[i].Data;
            for (int j = 0; j < data.Count; j++)
            {
                if (data[j] is SampleBubblePoint { IsNew: true } point)
                {
                    point.IsNew = null;
                }
            }
        }

        hasPendingNewFlags = false;
    }

    private bool HasNewFlags()
    {
        for (int i = 0; i < chartJsConfig.Data.Datasets.Count; i++)
        {
            var data = chartJsConfig.Data.Datasets[i].Data;
            for (int j = 0; j < data.Count; j++)
            {
                if (data[j] is SampleBubblePoint { IsNew: true })
                {
                    return true;
                }
            }
        }

        return false;
    }

    private sealed record SampleBubblePoint : BubbleDataPoint
    {
        [JsonPropertyName("_new")]
        public bool? IsNew { get; set; }
    }
}
