@using pax.BlazorChartJs

<div class="btn-group">
    <button type="button" class="btn btn-primary" @onclick="Randomize">Randomize</button>
    <button type="button" class="btn btn-primary" @onclick="UpdateDatasetColorCallback">UpdateDataset Color Callback</button>
    <button type="button" class="btn btn-primary" @onclick="UpdateDatasetsColorCallback">UpdateDatasets Color Callback</button>
    <button type="button" class="btn btn-primary" @onclick="UpdateDatasetSmoothColorCallback">UpdateDatasetSmooth Color Callback</button>
</div>
<div class="chart-container w-75">
    <ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig" OnEventTriggered="ChartEventTriggered">
    </ChartComponent>
</div>

@code {
    ChartJsConfig chartJsConfig = null!;
    ChartComponent? chartComponent;
    private bool chartReady;
    private enum DatasetUpdateMode
    {
        Dataset,
        Datasets,
        Smooth
    }

    protected override void OnInitialized()
    {
        chartJsConfig = new ChartJsConfig()
            {
                Type = ChartType.bar,
                Data = new ChartJsData()
                {
                    Labels = new List<string>() { "Jan", "Feb", "Mar" },
                    Datasets = new List<ChartJsDataset>()
                    {
                        new BarDataset()
                        {
                        Label = "Dataset 1",
                        Data = new List<object>() { 1, 2, 3 },
                        BackgroundColor = ChartJsFunction.FromName("createRepeatFillPattern")
                        }
                    }
                },
                Options = new ChartJsOptions()
                {
                    Plugins = new Plugins()
                    {
                        Legend = new Legend()
                        {
                            Labels = new Labels()
                            {
                                Filter = ChartJsFunction.FromName("showLegendItem")
                            }
                        },
                        Title = new Title() 
                        {
                            Display = true,
                            Text = new IndexableOption<string>("Add \"$\" to y-axis ticks")
                        }
                    },
                    Scales = new ChartJsOptionsScales()
                    {
                        Y = new LinearAxis()
                        {
                            Ticks = new LinearAxisTick()
                            {
                                Callback = ChartJsFunction.FromName("formatCurrency")
                            }
                        }
                    }
                }
        };
        base.OnInitialized();
    }

    private void ChartEventTriggered(ChartJsEvent chartJsEvent)
    {
        if (chartJsEvent is ChartJsInitEvent initEvent)
        {
            chartReady = true;
        }
    }

    private void Randomize()
    {
        if (!chartReady)
        {
            return;
        }

        Dictionary<ChartJsDataset, SetDataObject> chartData = new();

        foreach (var dataset in chartJsConfig.Data.Datasets)
        {
            if (dataset is BarDataset barDataset)
            {
                List<object> newData = new();
                foreach (var data in barDataset.Data)
                {
                    newData.Add(Random.Shared.Next(1, 10));
                }
                chartData[dataset] = new(newData);
            }
        }
        chartJsConfig.SetData(chartData);
    }

    private void UpdateDatasetColorCallback()
    {
        UpdateBackgroundColorCallback("updateDatasetColor", DatasetUpdateMode.Dataset);
    }

    private void UpdateDatasetsColorCallback()
    {
        UpdateBackgroundColorCallback("updateDatasetsColor", DatasetUpdateMode.Datasets);
    }

    private void UpdateDatasetSmoothColorCallback()
    {
        UpdateBackgroundColorCallback("updateDatasetSmoothColor", DatasetUpdateMode.Smooth);
    }

    private void UpdateBackgroundColorCallback(string callbackName, DatasetUpdateMode updateMode)
    {
        if (!chartReady || chartJsConfig.Data.Datasets.Count == 0 || chartJsConfig.Data.Datasets[0] is not BarDataset barDataset)
        {
            return;
        }

        barDataset.BackgroundColor = ChartJsFunction.FromName(callbackName);

        switch (updateMode)
        {
            case DatasetUpdateMode.Dataset:
                chartJsConfig.UpdateDataset(barDataset);
                break;
            case DatasetUpdateMode.Datasets:
                chartJsConfig.UpdateDatasets([barDataset]);
                break;
            case DatasetUpdateMode.Smooth:
                chartJsConfig.UpdateDatasetSmooth(barDataset);
                break;
        }
    }
}
