@using pax.BlazorChartJs

<div class="btn-group">
    <button type="button" class="btn btn-primary" @onclick="Randomize">Randomize</button>
    <button type="button" class="btn btn-primary" @onclick="UpdateDataset">UpdateDataset</button>
    <button type="button" class="btn btn-primary" @onclick="ResetDataset">ResetDataset</button>
    <button type="button" class="btn btn-primary" @onclick="UpdateDataset2">UpdateDataset2</button>
    <button type="button" class="btn btn-primary" @onclick="ApplyDatasetChangesSmooth">ApplyDatasetChangesSmooth</button>
    <button type="button" class="btn btn-primary" @onclick="SetDatasetsSmooth">SetDatasetsSmooth</button>
</div>
<div class="chart-container w-75">
    <ChartComponent @ref="chartComponent"
                    ChartJsConfig="chartJsConfig"
                    OnEventTriggered="ChartEventTriggered">
    </ChartComponent>
</div>

@code {
    private const string PrimaryDatasetId = "upsert-primary";
    private const string RemovedDatasetId = "upsert-remove";
    private const string AddedDatasetId = "upsert-added";

    ChartJsConfig chartJsConfig = null!;
    ChartComponent? chartComponent;
    private bool chartReady;

    protected override void OnInitialized()
    {
        chartJsConfig = new ChartJsConfig()
            {
                Type = ChartType.bar,
                Data = new ChartJsData()
                {
                    Labels = ["Jan", "Feb", "Mar"],
                    Datasets = new List<ChartJsDataset>()
                    {
                        new BarDataset()
                        {
                            Id = PrimaryDatasetId,
                            Label = "Dataset 1",
                            Data = [ 1, 2, 3 ],
                            BorderColor = "slateblue",
                            BackgroundColor = "dodgerblue",
                            BorderWidth = 1
                        },
                        new BarDataset()
                        {
                            Id = RemovedDatasetId,
                            Label = "Dataset 2",
                            Data = [ 3, 2, 1 ],
                            BorderColor = "darkgray",
                            BackgroundColor = "lightgray",
                            BorderWidth = 1
                        }
                    }
                },
                Options = new ChartJsOptions
                {
                    Responsive = true,
                    MaintainAspectRatio = true
                }
            };
        base.OnInitialized();
    }

    private void ChartEventTriggered(ChartJsEvent chartJsEvent)
    {
        if (chartJsEvent is ChartJsInitEvent initEvent)
        {
            chartReady = true;
        }
    }

    private void Randomize()
    {
        if (!chartReady)
        {
            return;
        }

        foreach (var dataset in chartJsConfig.Data.Datasets)
        {
            if (dataset is BarDataset barDataset)
            {
                int dataCount = barDataset.Data.Count;
                List<int> newData = [];
                for (int i = 0; i < dataCount; i++)
                {
                    newData.Add(Random.Shared.Next(1, 100));
                }
                barDataset.Data = newData.Cast<object>().ToList();
            }
        }
        chartJsConfig.UpdateDatasetsSmooth(chartJsConfig.Data.Datasets);
    }

    private void UpdateDataset()
    {
        if (!chartReady)
        {
            return;
        }

        foreach (var dataset in chartJsConfig.Data.Datasets)
        {
            if (dataset is BarDataset barDataset)
            {
                barDataset.Data = [3, 2, 1];
                barDataset.BorderColor = [ "darkred", "blue", "yellow" ];
                barDataset.BackgroundColor = [ "red", "lightblue", "lightyellow" ];
                barDataset.BorderWidth = 3;
            }
            chartJsConfig.UpdateDatasetSmooth(dataset);
        }
    }

    private void ResetDataset()
    {
        if (!chartReady)
        {
            return;
        }

        foreach (var dataset in chartJsConfig.Data.Datasets)
        {
            if (dataset is BarDataset barDataset)
            {
                barDataset.Data = [1, 2, 3];
                barDataset.BorderColor = ["slateblue", "slateblue", "slateblue"];
                barDataset.BackgroundColor = ["dodgerblue", "dodgerblue", "dodgerblue"];
                barDataset.BorderWidth = 1;
                barDataset.BarPercentage = null;
                barDataset.BarThickness = null;
                barDataset.MaxBarThickness = null;
                barDataset.MinBarLength = null;
            }
            chartJsConfig.UpdateDatasetSmooth(dataset);
        }
    }

    private void UpdateDataset2()
    {
        if (!chartReady)
        {
            return;
        }

        foreach (var dataset in chartJsConfig.Data.Datasets)
        {
            if (dataset is BarDataset barDataset)
            {
                barDataset.Data = [3, 2, 1];
                barDataset.BorderColor = [ "darkred", "blue", "yellow" ];
                barDataset.BackgroundColor = [ "red", "lightblue", "lightyellow" ];
                barDataset.BorderWidth = 3;
                barDataset.BarPercentage = 0.5;
                barDataset.BarThickness = 22;
                barDataset.MaxBarThickness = 22;
                barDataset.MinBarLength = 2;

            }
            chartJsConfig.UpdateDatasetSmooth(dataset);
        }
    }

    private void ApplyDatasetChangesSmooth()
    {
        if (!chartReady)
        {
            return;
        }

        BarDataset addedDataset = new()
        {
            Id = AddedDatasetId,
            Label = "Dataset 3",
            Data = [ 4, 5, 6, 7 ],
            BorderColor = "darkgreen",
            BackgroundColor = "lightgreen",
            BorderWidth = 2
        };

        BarDataset updatedDataset = new()
        {
            Id = PrimaryDatasetId,
            Label = "Dataset 1 Upserted",
            Data = [ 9, 8, 7, 6 ],
            BorderColor = [ "purple", "navy", "teal", "maroon" ],
            BackgroundColor = [ "plum", "lightblue", "lightseagreen", "salmon" ],
            BorderWidth = 5,
            BarThickness = 18
        };

        if (chartJsConfig.Options != null)
        {
            chartJsConfig.Options.Responsive = false;
            chartJsConfig.Options.MaintainAspectRatio = false;
        }

        chartJsConfig.ApplyDatasetChangesSmooth(new DatasetsSmoothChangeSet([AddedDatasetId, PrimaryDatasetId, RemovedDatasetId])
        {
            DatasetsToAdd = [addedDataset],
            DatasetsToUpdateSmooth = [updatedDataset],
            DatasetIdsToRemove = [RemovedDatasetId],
            Labels = ["Apr", "May", "Jun", "Jul"],
            UpdateOptions = true
        });
    }

    private void SetDatasetsSmooth()
    {
        if (!chartReady)
        {
            return;
        }

        BarDataset addedDataset = new()
        {
            Id = AddedDatasetId,
            Label = "Dataset 3",
            Data = [ 4, 5, 6, 7 ],
            BorderColor = "darkgreen",
            BackgroundColor = "lightgreen",
            BorderWidth = 2
        };

        BarDataset updatedDataset = new()
        {
            Id = PrimaryDatasetId,
            Label = "Dataset 1 Set Smooth",
            Data = [ 6, 7, 8, 9 ],
            BorderColor = [ "orange", "navy", "teal", "maroon" ],
            BackgroundColor = [ "moccasin", "lightblue", "lightseagreen", "salmon" ],
            BorderWidth = 6,
            BarThickness = 19
        };

        if (chartJsConfig.Options != null)
        {
            chartJsConfig.Options.Responsive = false;
            chartJsConfig.Options.MaintainAspectRatio = false;
        }

        chartJsConfig.SetDatasetsSmooth(
            datasets: [addedDataset, updatedDataset],
            labels: ["Apr", "May", "Jun", "Jul"],
            updateOptions: true);
    }
}
